.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 1rem 1rem;
  background-color: var(--accentRed);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  width: 7rem;
  border: none;
}

.button:disabled{
  background-color: var(--softTextColor);
  cursor: not-allowed;
}