.container {
  
}

.title {
  margin-bottom: 3rem;
}

.items {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.item {
  width: max-content;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  color: black;
}