.container {
  flex: 5;
}

.title {
  margin-bottom: 3rem;
}

.posts {
  display: flex;
  flex-direction: column;
}

.post {
  margin-bottom: 3rem;
  display: flex;
  gap: 3rem;
  align-items: center;
}

.imageContainer{
  position: relative;
  flex: 1;
  height: 20rem;
}

.image {
  object-fit: cover;
}

.textContainer{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.detail {
  align-self: flex-start;
}

.date {
  color: gray;
}

.category {
  color: var(--accentRed);
  font-weight: 500;
}
.text{
  font-size: 1rem;
  font-weight: 300;
  color: var(--softTextColor);
}

.link{
  border-bottom: 1px solid crimson;
  width: max-content;
  padding: 0.1rem 0;
}

@media screen and (max-width: 1280px) {
  .imageContainer {
    display: none;
  }
}