@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 42.86 24.14% 94.31%;
    --foreground: 205.33 76.27% 11.57%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 223 46% 82%;
    --primary-foreground: 205, 76%, 22%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 7 92% 65%;
    --accent-foreground: 186 90% 38%;

    --accent: 186 90% 38%;
    --accent-foreground: 7 92% 65%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 205.33 76.27% 11.57%;
    --foreground: 42.86 24.14% 94.31%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 205 76% 22%;
    --primary-foreground: 223 46% 82%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 7 92% 65%;
    --accent-foreground: 186 90% 38%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* :root {
  --google: #db4437;
  --github: #333;
  --facebook: #3b5998;
  --microsoft: #00a1f1;

} */

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

/* body {
  max-width: 100vw;
  overflow: auto;
} */

/* a {
  color: inherit;
  text-decoration: none;
} */

/* .dark {
  --bg: #072134;
  --text: #f4f2ed;
  --softBg: #0d3e61;
  --softTextColor: #bcc8e6;
} */

/* .container {
  min-height: 100vh;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
} */
/* 
.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1280px;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 640px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
} */

.ql-container {
  font-size: 1.6rem !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #b3b3b1;
}
