.container {
}

.title {
  margin-bottom: 3rem;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.category {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 20%;
  height: 4rem;
  justify-content: center;
  border-radius: 1rem;
  padding: 0 1rem;
  color: black;
}
.image {
  border-radius: 50%;
}

@media screen and (max-width: 1280px) {
  .category {
    width: 25%;
  }
}
@media screen and (max-width: 1024px) {
  .category {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .category {
    width: 45%;
  }
}
@media screen and (max-width: 640px) {
  .category {
    width: 100%;
  }
  .post {
    margin-top: 2rem;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
  }
}